@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* fonts */
  @font-face {
    font-family: "Satoshi-Light";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Satoshi-Light.otf") format("opentype");
  }
  @font-face {
    font-family: "Satoshi-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Satoshi-Regular.otf") format("opentype");
  }
  @font-face {
    font-family: "Satoshi-Bold";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Satoshi-Bold.otf") format("opentype");
  }
  body {
    overflow-x: hidden;
  }
  .slick-list {
    margin: 0 -5px;
  }
  .slick-slide > div {
    padding: 0 5px;
  }
  /* Swoosh Effect */
  .arrowBlue {
    fill: #29BDEF;
  }
  .bg {
    background-image: url("../assets/images/homepage/swoosh.svg");
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    background-position: bottom left;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -20%;
    transform-origin: bottom left; /* Set the transform origin to the bottom left corner */
    animation: expandBackground 2s ease-out forwards; /* Adjust the animation duration as needed */
  }
  .whyscapeBG {
    background-image: url("../assets/images/why/shapes.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 0;
    width: 100%;
  }

  .carouselBG {
    background-image: url("../assets/images/carousel/carousel-bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
  }
  .bodycopy {
    @apply leading-25 md:text-lg  text-scapeGray700 mb-5 font-satoshiLight;
  }
  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;
  }
  /* Futures Carousel */
  .carousel__div {
    width: 95% !important;
    height: 260px;
    margin-left: -15px;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    @apply bg-scapeBlue700 text-white p-8;
  }
  .futuresBG {
    background-image: url("../assets/images/future/shape.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -1;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
  }

  @media only screen and (max-width: 1024px) {
    .carousel__div {
      width: 85% !important;
      padding: 2rem;
      margin-bottom: 2rem;
      height: 200px;
    }
    .futuresBG {
      background-position: bottom;
    }
  }

  /* Button Hover Effects */
  .button__hover .arrow__blue{
    fill: #ffffff;
    stroke: #ffffff;
    transition: all 0.3s ease-in-out;
  }

  .button__hover:hover .arrow__blue{
    fill: #29BDEF;
    stroke: #29BDEF;
  }

  /* Carousel Custom Arrows */
  .carousel__custom__prev {
    position: absolute;
    right: 40px;
    top: -50px;
    z-index: 1;
    z-index: 200;
  }

  
  .button__controller {

  }
  .arrowButtonsCarousel {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #dfdfe3;
    padding: 0.5rem;
  }
  .slick-slide {
    margin: 0 10px;
  }
  .carousel__custom__next {
    position: absolute;
    right: 0px;
    top: -50px;
    z-index: 1000;
  }

  @media only screen and (max-width: 768px) {
    .bg {
      top: -60%;
    }
  }
  /* Animation */
  @keyframes expandBackground {
    0% {
      transform: scale(0); /* Start with 0% scale */
    }
    100% {
      transform: scale(1); /* End with 100% scale */
    }
  }

  .card-arrow {
    @apply bg-black rounded-full w-10 h-10 flex items-center ml-auto justify-center;
  }
  .navbar-links {
    @apply flex items-center gap-8 ml-auto font-satoshiBold leading-25;
  }
  .navbar-links a:hover {
    @apply text-scapeGray400;
  }

  .menu-items {
    @apply flex flex-col justify-between h-[100%];
  }
  .menu-items a {
    @apply flex items-center justify-between w-full py-3 text-center px-6 text-sm;
  }
  /* animations */
  /* animations */
  .card-heighterrr {
    position: relative;
    bottom: 0;
    left: 0;
    opacity: 0;
    max-height: 0px;
    transition: all 500ms ease;
    overflow: hidden;
  }

  .carder:hover .card-heighterrr {
    opacity: 1;
    max-height: 50px;
  }

  .contacter span {
    margin-left: 0;
  }
  .contacter:hover span {
    margin-left: 5px;
    transition: margin 200ms ease-in-out;
  }

  .menu__custom {
    position: absolute;
    transform: translateX(100%);
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #fff;
    transition: all 0.3s ease;
  }
  .menu__custom.active {
    transform: translateX(0);
    transition: all 0.2s ease;
  }
  .hamburger-icon {
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: all 0.35s;
    position: relative;
    z-index: 999;
    margin-left: auto;
    background: #221c34;
    border-radius: 50%;
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 32%;
    left: 26%;
    width: 24px;
    height: 1.5px;
    background: #fff;
    transform: rotate(0);
    transition: all 0.3s;
  }

  .hamburger-middle {
    transform: translateY(7px);
    width: 18px;
  }

  .hamburger-bottom {
    transform: translateY(14px);
  }
  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }

  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }
  .open .hamburger-middle {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
    opacity: 1;
    width: 24px;
  }

  .open .hamburger-bottom {
    opacity: 0;
  }

  .no-scroll {
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .cardSwipe {
    flex: none;
    width: 60%;
    min-height: 350px;
    margin-bottom: 2rem;
  }
}
